<div class="navbar">
  <div id="nom-principal">Filmorama</div>
  <div class="button-log">
    <% if user_signed_in? %>
      <div class="petit-texte"><em>Connecté(e) en tant que <%= current_user.email %></em></div>
      <% else %>
      <div class="petit-texte"><em>Connectez-vous pour accéder</em></div>
    <% end %>
    <%= link_to "S'identifier", new_user_session_path %>
    <%= link_to "S'inscrire", new_user_registration_path %>
    <% if user_signed_in? %>
      <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete} %>
    <% end %>
  </div>
</div>

<div class="main-container">

  <h1>Toutes les listes</h1>
  <div class="secondary-container">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div id="list-container"><h2><%= list.name %></h2></div>
      <% end %>
    <% end %>
  </div>

  <%= link_to new_list_path do %>
    <div class="button-nav">+ Créer une nouvelle liste</div>
  <% end %>
  <br>
  <h1>Tous les films</h1>
  <div class="secondary-container">

    <% @movies.each do |movie| %>
      <div id="movie-container">
        <div><%= image_tag movie.poster_url, alt: "Poster", width: 200 %></div>
        <br>
        <h2><%= movie.title %></h2><br><p><%= movie.overview %></p>
      </div>
    <% end %>
  </div>

</div>
