<div class="navbar-petite">
  <div id="nom-principal">Filmorama</div>
  <div class="button-log">
    <% if user_signed_in? %>
      <div class="petit-texte"><em>Connecté(e) en tant que <%= current_user.email %></em></div>
      <% else %>
      <div class="petit-texte"><em>Connectez-vous pour accéder</em></div>
    <% end %>
    <%= link_to "S'identifier", new_user_session_path %>
    <%= link_to "S'inscrire", new_user_registration_path %>
    <% if user_signed_in? %>
      <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete} %>
    <% end %>
  </div>
</div>

<div class="main-container">
  <h1>Détails</h1>
  <h2>Les films de ma liste <em><%= @list.name %></em></h2>
  <% @list.movies.each do |movie| %>
    <div class="bookmarks-display">
        <div><%= image_tag movie.poster_url, alt: "Poster", width: 200 %></div>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div id="bookmarks-details">
          <h3><%= movie.title %></h3>
          <p><%= bookmark.comment %></p>
          <%= link_to "Supprimer ce bookmark",
          bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </div>
    </div>
    <br>
  <% end %>
  <br>
  <%= link_to new_list_bookmark_path(@list) do %>
      <div class="button-nav">Nouveau bookmark</div>
  <% end %>
  <br>
  <%= link_to lists_path do %>
      <div class="button-nav">Retour aux listes de films</div>
  <% end %>
</div>
